body {
    background-color: wheat;
    font-family: "futura", arial, sans-serif;
    color: darkolivegreen;
    margin: 0;
    font-size: 1.1em;
    padding: 50px 20px;
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 750px;
    height: auto;
    border-radius: 100%;
    border: 3px solid burlywood;
    margin: 20px 0px 50px;
}

/*.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 30px;
    padding: 15px 15px;
    font-size: clamp(.6rem, 0.5rem + 1vw, 1.5rem);
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 800px;
    margin: 25px auto;
    box-sizing: border-box;
    background-color: burlywood;
}*/

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid darkgoldenrod;

    width: 100%;
    max-width: 1000px;

    margin: 40px auto 40px;
    padding: 15px;


    font-size: clamp(.7rem, 0.5rem + 1.2vw, 1.1rem);
    text-transform: uppercase;
    line-height: 1.7;

    box-sizing: border-box;
    background-color: burlywood;
}

.nav-bar a {
    white-space: nowrap;
}
.nav-row a {
    white-space: nowrap;
    text-decoration: none;
}

.nav-row a:hover {
    background-color: darkgoldenrod;
}

a {
    color: darkolivegreen;
    text-decoration: underline;
    
}

footer a {
    color: darkgoldenrod;
    font-size: clamp(.8rem, 0.6rem + 1.2vw, 1.8rem);
}

.contact a {
    color: darkgoldenrod;
}
/*
.nav-bar a {
    white-space: nowrap;
    text-decoration: none;
    color: darkblue;
}*/

a:hover {
    background-color: burlywood;
    padding: 1px 3px;
    margin: -1px -3px;
}

h1 {
font-size: clamp(2rem, 1rem + 3vw, 4rem);
color: darkolivegreen;
}

#details h2 {
    font-size: clamp(.8rem, 0.6rem + 1.8vw, 2rem);
}

h2 {
    font-size: clamp(1rem, 0.8rem + 2vw, 3rem);
    color: darkred;
    margin-top: -4px;
}

h3 {
    font-size: clamp(.8rem, 0.6rem + 1.5vw, 2rem);
    color: darkgoldenrod;
}

#top h2 {
    font-size: clamp(0.8rem, 4vw, 2.5rem);
    color: darkred;
    margin-bottom: 0vw;
}

#top h3 {
    font-size: clamp(0.6rem, 3vw, 2rem);
    color: darkgoldenrod;
    margin-bottom: 3vw;
}

#top h1 {
    font-size: clamp(1rem, 5vw, 3rem);
    white-space: nowrap;
    margin-bottom: 10px;
}

main {
    margin: 0;
}

.text-container {
    width: 100%;
    max-width: 1000px;
    margin: -3px auto;
    padding: 0 10% 10px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid burlywood;
}

footer {
    margin-top: 30px;
}

.footer h2 {
    font-size: clamp(.8rem, 0.6rem + 1.5vw, 2rem);
}

header a {
    text-decoration: none;
}

header {
    margin-top: -20px;
}

.copyright {
    font-size: clamp(.3rem, 0.5rem + 1.2vw, 1.5rem);
    margin-top: 30px;
}
