body {
    background-color: wheat;
    font-family: "futura";
    color: darkolivegreen;
    margin: 0;
    font-size: 24px;
    padding: 50px 20px;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0 20px;
    padding: 15px;
    font-size: 14px;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    max-width: 900px;
    margin: 50px auto -10px;
    box-sizing: border-box;
    column-gap: 20px;
    row-gap: 0;
    line-height: 0;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
    white-space: nowrap;
}

a:hover {
    background-color: burlywood;
    padding: 5px;
    margin: -5px;
}

h2 {
    color: darkred;
}

h3 {
    color: darkgoldenrod;
}

main {
    margin: 0;
}

.text-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
}
